extends layout

block content
  script(src="https://cdn.auth0.com/js/lock-9.0.js")
  
  h1= title
  p Welcome to #{title}
  br
  button(onclick="signin()") Login

  script.
    var lock = new Auth0Lock('ViQ8A8rsnQ2WxQn23CTcTWgMfkBzLh2K', 'valoster.eu.auth0.com');
    function signin() {
      lock.show({
          callbackURL: 'http://localhost:3000/authCallback'
        , responseType: 'code'
        , authParams: {
          scope: 'openid name email picture'
        }
      });
    }

  
